.bigback {}

#mainh {background-color : #1F2833;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: none;
height: 30px;
color: #6cfcf1;
padding-left: 50px;
padding-top: 30px;
padding-bottom: 30PX;
border-top-left-radius: 18px;
border-top-right-radius: 18px;
margin: 2PX;
margin-left: auto;   
margin-right: 0%;
font-size: 40px;
font-family: 'kaushan script', cursive;

}

.parealeft{ background-color: #BC986a;
    border-bottom-left-radius: 0PX;
    padding: 10PX;
    float :left;
    width: 180px;
 margin: 0%;   
 margin-left: auto;
 height: 600PX;
}



/* 
prof img  */

#prof{
    border-radius: 50%;
    width: 125px;
    height: 120px;
    margin-left:25px ;
    margin-right:25px;
}

.parearight {
    background-color:#45A29E;
    border-bottom-right-radius: 0PX;
    padding: 10PX;
    float:none;
    width:770px;
 margin-right:0%;   
 margin-left: auto;
height: 600PX;
} 

h2~p {
    color:  White;
    stroke-width: 2px;
    stroke: cadetblue;
}


.footer {background-color : #061b35;
    font-family: none;
    width: none;
    height: 5px;
    color: #6cfcf1;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 20PX;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin: ;
    margin-left: auto;   
    margin-right: 0%;
    font-size: 20px;
    font-family: 'kaus0han script', cursive;
    
}